@model BlogCore.Models.ViewModels.ArticuloVM

@{
    ViewData["Title"] = "Editar Articulo";
}

<br />
<br />
<h3 class="text-center">Editar Articulo</h3>
@* //                                                       //enctype="multipart/form-data --> Nos va a permitir
    //                                                      //    la subida de archivos.
*@
<form method="POST" asp-action="Edit" enctype="multipart/form-data">

    @* //                                                   //Se envia el ID del articulo como campo oculto 
        //                                                  //    y con esto ya se estaria enviando el ID
        //                                                  //    al controlador

    *@
    <input type="hidden" asp-for="Articulo.Id" />


    <div class="row px-2 border">
        @* <div asp-validation-summary="ModelOnly" class="text-danger"></div> *@
        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="col-8 mt-4">
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Articulo.Nombre"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Articulo.Nombre" class="form-control" placeholder="Ingresa el nombre" />
                    <span asp-validation-for="Articulo.Nombre" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="@Model.Articulo.Descripcion"></label>
                </div>
                <div class="col-8">
                    <textarea asp-for="@Model.Articulo.Descripcion" class="form-control" style="height: 300px;" > </textarea>
                    <span asp-validation-for="@Model.Articulo.Descripcion" class="text-danger"></span>
                </div>
            </div>


            <div class="form-group row mt-4">
                <div class="col-4">
                    <label for="Categoria">Categoria</label>
                </div>

                <div class="col-8">
                    @*                                      //1. @Html.DropDownListFor --> TagHelper que genera un
                    //                                      //    elemento select.

                    //                                      //2. m => m.Articulo.CategoriaId --> Expresion Lamda que
                    //                                      //    indica la propiedad del modelo que este select
                    //                                      //    representa.

                    //                                      //3. Model.ListaCategorias --> Representa las opciones
                    //                                      //    de la lista desplegable.

                    //                                      //4. "-Por favor selecciona una categoría-" --> Primera opcion.

                    //                                      //5. new { @class = "form-control"} --> Se le da estilos
                    //                                      //    al select.
                    *@

                    @Html.DropDownListFor(m => m.Articulo.CategoriaId, Model.ListaCategorias,
                             "-Por favor seleccion una categoria-", new { @class = "form-control" })
                    <span asp-validation-for="Articulo.CategoriaId" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row mt-4">
                <div class="col-4">
                    <label asp-for="Articulo.UrlImagen"></label>
                </div>
                <div class="col-8">
                    @* //                                   //El el caso de subir multiples archivos, tendremos
                    //                                   //    que agregar el atributo "multiple"
                    *@
                    <input type="file" name="archivos" id="subidaArchivo" class="form-control">
                    <span asp-validation-for="Articulo.UrlImagen" class="text-danger"></span>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col">
                    <button type="submit" class="btn btn-primary form-control">Editar Articulo</button>
                </div>
                &nbsp;
                <div class="col">
                    <a asp-action="Index" class="btn btn-success form-control">Volver atras</a>
                </div>
            </div>
        </div>

        <div class="col-4 pt-3">
            <img src="@Model.Articulo.UrlImagen" width="300px" style="border-radius:5px; border:1px solid #bbb9b9;" />
        </div>

    </div>
</form>


@section Scripts {
    @* Realiza las validaciones de datos(modelo Categoria) del lado del cliente
        de manera automatica
    *@
    @{
        <partial name="_ValidationScriptsPartial" />
    }

    @* //                                                   //Agregamos  la biblioteca de tinymce importada desde cdnjs*@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/6.8.3/tinymce.min.js" integrity="sha512-VCEWnpOl7PIhbYMcb64pqGZYez41C2uws/M/mDdGPy+vtEJHd9BqbShE4/VNnnZdr7YCPOjd+CBmYca/7WWWCw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script>
        tinymce.init({
            //                                              //Elemento sobre el cual se va a implementar
            //                                              //    el tinymce.
            selector: 'textarea',
            //                                              //Par que cargue unos botones por defecto.
            plugins: 'lists',
            //                                              //Agregamos el tipo de formato de menu
            menubar: 'file edit format'
        });
    </script>



}