@model BlogCore.Models.ListaPaginada<BlogCore.Models.Articulo>

<h2 class="text-center">Lista de Entradas</h2>

@if (Model.Count() > 0)
{
    <hr />
    <div class="row">
        @foreach (var articulos in Model)
        {
            <div class="col-4">
                <div class="card">
                    <img src="@articulos.UrlImagen" class="img-thumbnail" width="100%" />
                    <div class="card-body">
                        <h5 class="text-center">@articulos.Nombre</h5>
                        <a asp-action="Detalle" class="btn btn-success" style="border-radius: 10px;" asp-route-id="@articulos.Id">
                            Mas informacion
                        </a>
                    </div>
                </div>
            </div>
        }
    </div>
}
else
{
    <p>No hay articulos</p>    
}


<br />
<!--Crear botones de páginación-->

<div class="text-center">
    <nav aria-label="Page navigation">
        <ul class="pagination">
            <li class="page-item @(Model.PageIndex > 1 ? "" : "disabled")">
                <a class="page-link" asp-controller="Home" asp-action="ResultadoBusqueda" asp-route-page="@(Model.PageIndex - 1)" asp-route-searchString="@Model.SearchString">Anterior</a>
            </li>
            @for (int i = 1; i <= Model.TotalPages; i++)
            {
                <li class="page-item @(i == Model.PageIndex ? "active" : "")">
                    <a class="page-link" asp-controller="Home" asp-action="ResultadoBusqueda" asp-route-page="@i" asp-route-searchString="@Model.SearchString">@i</a>
                </li>
            }
            <li class="page-item @(Model.PageIndex < Model.TotalPages ? "" : "disabled")">
                <a class="page-link" asp-controller="Home" asp-action="ResultadoBusqueda" asp-route-page="@(Model.PageIndex + 1)" asp-route-searchString="@Model.SearchString">Siguiente</a>
            </li>
        </ul>
    </nav>
</div>










